@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #FFFFFF;
    --cor-secundaria: #519CFA; 
    --fonte: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg,#051367,#2D31FA);
    height: 100vh;
    width: 100vw;
    font-family: var(--fonte);
}

.cabecalho {
    height: 15vh;
    display: flex;
    justify-content: flex-start;
}

.botao__voltar {
    background: var(--cor-secundaria);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    width: 10vw;
    height: 10vw;
    margin: 3vw 0 0 3vw;
    font-size: 1.2em;
}

.botao__voltar:hover {
    cursor:pointer;
}

.principal {
    height: 85vh;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.formulario__login {
    background: var(--cor-principal);
    border-radius: 4vh;
    width: 70vw;
    height: 70vh;
    display:grid;
    grid-template-rows: 1fr 1fr auto auto;
    justify-content: center;
}

.login__nome-site {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-weight: 500;
}

.login__mensagem {
    display: flex;
    justify-content: center;
}

.login__botaologin {
    display:flex;
    justify-content: center;
    align-items: center;
    background: var(--cor-secundaria);
    width: 45vw;
    height: 5.5vh;
    border-radius: 4vh;
}

.login__botaologin:hover {
    cursor:pointer;
}

.login__botaocadastrar-se {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2vh auto 16vh auto;
}

.login__botaocadastrar-se:hover {
    cursor:pointer;
}